<html lang="sv">
<head>
<meta charset="utf-8" />
<title>Labrador Retriever</title>
<style>
body {
font-family: sans-serif;
width: 500px;
margin: auto;
background-color: white;
}
</style>
</head>
<body>
<h1>Here is the top 10 reasons to why you should addopt a Labrador Retriever</h1>
<p>
There's many reasons to why you should own a Labrador Retriever and here's a couple of reasons.

1. Thanks to Labrador Retriever powerfull noses they have been trained to sniff out early stages of cancer, not every labrador can do this but every labrador has the ability to learn this skill.

2. Labradors were originally bred to be the perfect 'water dog', which means that they are able to catch fish in a matter of seconds, their fur keeps them warm in cold water but it doesnt slow them down. The fur they have is perfect for hunting wish in cold waters where humans would freeze. Their tail also works as a powerful rudder which makes them ridiculously fast swimmers. In other words, the labrador is a fishermans best friend!

3.  According to the American kenell club they are the most favoured dogs, everybody loves them!


4. They are excellent family dogs, Labrador Retriever is an extremely friendly dog and great with children, but allthough they are sweet and gentle they will not hesitate to protect their owners against intruders no matter the cost.

5. Labradors are always happy. They are full of love and affection and will always stand by your side and be gratefull for every single small or big thing you do for them.

6. They are able to protect you and your family, Labrador Retrievers weight varies from 25-36 kg depending on the sex. They stand around 55 to 62 cm tall.

7. Their speed, a fully grown Labrador can sprint at speeds over than 35 miles per hour. The fastest human alive, Usain bolt had a speed of 28 miles per hour in his prime. The average athlete has a speed of 20.5 miles an hour.

8. Loves nature, if your an nature lover then you'll love this dogbreed. They have a very good endurance. This is the perfect breed for hikers and will make the hiking experience much more fun, having this dog while you hike and explore the nature will also make you feel safer.

9. Want to stay inside and cuddle?
No problem, Labrador's love cuddling, they dont really mind how they spend their day as long as you're with them.

10. From what you have read, I believe it's safe to say that this breed is excellent for sport related activities and events, such as competing in dog contests or bird hunting. The Labrador is the worlds most popular bird dog, because of it's intelligence, loyalty and obedience. These dogs are extremely sociable and love to interact with new people. In conclusion, Labrador Retriever suits every loving family, the only thing they want is to make their owners happy and proud.

</p>
<p> Looking to adopt a Labrador Retriever?
	https://marketplace.akc.org/puppies/labrador-retriever?breed=152&page=1
</p>
<h2>HTML Image</h2>
